In [3]:
# here is a file for any code related to feature extraction :)
# and remember, you are capable of many great things!

import pandas as pd

result = pd.read_json('../data_train.json')

In [4]:
result

,cool,date,funny,stars,text,useful
0,0,2013-05-07 04:34:36,1,1,Total bill for this horrible service? Over $8G...,6
1,0,2017-01-14 21:30:33,0,5,I *adore* Travis at the Hard Rock's new Kelly ...,0
2,0,2016-11-09 20:09:03,0,5,I have to say that this office really has it t...,3
3,0,2018-01-09 20:56:38,0,5,Went in for a lunch. Steak sandwich was delici...,0
4,0,2018-01-30 23:07:38,0,1,Today was my second out of three sessions I ha...,7
5,0,2013-01-20 13:25:59,0,4,I'll be the first to admit that I was not exci...,0
6,5,2016-05-07 01:21:02,4,3,Tracy dessert had a big name in Hong Kong and ...,5
7,1,2010-10-05 19:12:35,1,1,This place has gone down hill. Clearly they h...,3
8,0,2015-01-18 14:04:18,0,2,I was really looking forward to visiting after...,1
9,1,2012-02-29 21:52:43,0,3,It's a giant Best Buy with 66 registers. I do...,1
10,0,2011-11-30 02:11:15,0,4,"Like walking back in time, every Saturday morn...",0
11,0,2017-12-15 23:27:08,1,1,"Walked in around 4 on a Friday afternoon, we s...",0
12,0,2016-05-07 01:36:53,0,4,Wow. So surprised at the one and two star revi...,0
13,0,2018-04-27 20:25:26,0,4,Michael from Red Carpet VIP is amazing ! I rea...,0
14,0,2012-07-16 00:37:14,1,1,I cannot believe how things have changed in 3 ...,1
15,0,2017-04-07 21:27:49,0,5,You can't really find anything wrong with this...,0
16,0,2015-01-03 22:47:34,0,4,Great lunch today. Staff was very helpful in a...,0
17,1,2015-04-01 16:30:00,7,3,I love chinese food and I love mexican food. W...,1
18,0,2017-05-26 01:23:19,0,5,We've been a huge Slim's fan since they opened...,0
19,0,2014-06-27 21:19:23,0,3,Good selection of classes of beers and mains. ...,0
20,0,2017-03-27 01:14:37,0,5,"Our family LOVES the food here. Quick, friendl...",1
21,9,2017-05-13 10:41:43,6,5,If you are looking for the best pierogies in P...,9
22,0,2016-01-17 05:26:22,0,4,The food is always good and the prices are rea...,0
23,0,2016-07-25 03:57:19,0,5,Pick any meat on the planet and the chef will ...,0
24,0,2012-11-06 03:41:43,0,5,"Great food, great service. Obviously fried chi...",0
25,0,2013-12-07 02:32:45,0,5,PlumbSmart provided superior service from begi...,4
26,1,2014-08-10 22:07:35,1,1,"Unfortunately, I must recommend not to conduct...",7
27,1,2013-12-28 22:28:08,0,5,their pettuccine was fresh-made in the morning...,0
28,0,2014-04-19 15:03:17,0,1,"if i can give this place no stars i would, i o...",1
29,0,2017-02-09 03:43:25,0,1,This review is in regards to our experience wa...,0
...,...,...,...,...,...,...
334265,0,2017-11-25 21:29:25,0,1,This was a bar that we frequented on a regular...,0
334266,0,2017-07-15 00:19:47,0,5,This place is awesome. If you want authentic ...,0
334267,0,2014-04-10 15:55:13,0,4,Let me start off by saying this place was pack...,2
334268,0,2016-01-24 04:11:46,0,3,I would give five stars for prenatal care and ...,6
334269,0,2015-11-29 02:17:43,0,5,Came here on a cool November day with a small ...,0
334270,4,2009-11-14 17:57:39,2,5,HOLY CRAP THESE GUYS ROCK! If I could give the...,6
334271,0,2017-01-09 23:49:58,0,1,Went for lunch today for an all u can eat. Its...,0
334272,0,2015-05-21 01:58:12,5,1,Just walked away from the concession stand/tic...,1
334273,0,2016-02-06 20:16:27,2,5,Tuy is the bomb! \nNot only is her food good b...,6
334274,0,2017-02-27 18:42:22,1,3,Went there last night with family. I had alway...,1
334275,0,2012-04-17 13:55:14,1,2,J and I had to go to the Fossil store last Thu...,1
334276,0,2013-08-26 03:16:33,0,1,Went there through groupon for English tea. Th...,1
334277,2,2017-05-21 05:20:00,1,5,I drove from the strip all the way to this loc...,1
334278,0,2016-10-05 03:30:53,0,5,I booked an appointment with Swimming Pool Ser...,0
334279,0,2015-07-21 06:15:04,1,2,I am not a foodie or expert but i will share m...,1
334280,0,2009-03-21 13:24:10,0,5,Hach wie schön hier kann man die Fountains of ...,0
334281,0,2018-06-02 03:59:57,0,4,國內同品牌的茶飲店開到离士嘉堡。位于midland and finch的金钟城内。环境走甜美...,2
334282,0,2013-09-22 18:13:05,0,3,If your a fan of an ok thick crust slice Barro...,1
334283,1,2013-06-06 01:32:32,0,5,As a parent and also a student of this dojo fo...,2
334284,0,2015-05-05 18:11:29,0,5,Excellent service as always! Dr. Nielson did a...,1
334285,0,2017-09-24 21:36:23,0,4,This place has a great vibe and selection of s...,0
334286,0,2017-04-13 23:58:47,0,5,Forever grateful to Belsito Plumbing for their...,1
334287,1,2015-10-21 20:45:42,0,5,This was my first time ever in treatment and h...,2
334288,0,2015-06-16 18:44:44,0,1,Doesn't even deserve 1 star- this incident was...,2
334289,0,2017-02-26 19:59:12,0,4,Very good food. This was our first time here ...,0
334290,1,2016-07-31 07:40:05,1,5,I was very surprised by how flavorful the food...,1
334291,1,2014-03-25 14:48:09,0,3,"The theater is nice, very comfortable chairs a...",1
334292,1,2018-03-23 02:24:21,1,5,My dog just loves it and so do I. I have broug...,1
334293,1,2012-11-17 01:49:15,3,1,"Bug in food, followed by terrible handling of ...",3
334294,1,2013-03-08 00:12:55,0,2,"I gotta give it to Tropicana, they are not goi...",6

In [26]:
groups = result.groupby('stars')

groups

In [27]:
# the group 
for name,group in groups:
    filename = str(name) + '_data_train.json'
    print(filename)
    group.to_json(filename)

1_data_train.json
2_data_train.json
3_data_train.json
4_data_train.json
5_data_train.json